language: python
python:
  - "3.6"
install:
  - pip install -r requirements.txt
script:
  - pytest
after_success:
  - coverage run --timid --source=. tests/all_test.py
  - coverage xml
  - bash <(curl -s https://codecov.io/bash) -t 235bf500-d739-4eb3-b349-7bea010a937d -f coverage.xml
