aiohappyeyeballs==2.6.2
aiohttp==3.13.5
aiosignal==1.4.0
annotated-doc==0.0.4
anyio==4.13.0
asdf==5.3.0
asdf-astropy==0.11.0
asdf_coordinates_schemas==0.5.1
asdf_standard==1.5.0
asdf_transform_schemas==0.6.0
asdf_wcs_schemas==0.5.0
astropy==7.2.0
astropy_healpix==1.1.3
astropy-iers-data==0.2026.5.4.1.4.54
astroquery==0.4.10
attrs==26.1.0
beautifulsoup4==4.14.3
bleach==6.3.0
bokeh==3.9.0
cdshealpix==0.8.1
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
click==8.4.1
cloudpickle==3.1.2
colorcet==3.1.0
contourpy==1.3.3
coverage==7.8.0
cryptography==46.0.5
cycler==0.12.1
dask==2026.3.0
datasets==4.8.5
datashader==0.19.0
dill==0.4.1
donfig==0.8.1.post1
duckdb==1.5.2
filelock==3.29.0
fonttools==4.62.1
frozenlist==1.8.0
fsspec==2026.2.0
google-crc32c==1.8.0
gwcs==1.0.3
h11==0.16.0
hf-xet==1.5.0
holoviews==1.22.1
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.17.0
idna==3.11
iniconfig==2.3.0
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.4.0
jeepney==0.9.0
Jinja2==3.1.6
jmespath==1.1.0
joblib==1.5.3
keyring==25.7.0
kiwisolver==1.5.0
linkify-it-py==2.1.0
llvmlite==0.46.0
locket==1.0.0
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib
mdit-py-plugins==0.5.0
mdurl==0.1.2
mocpy==0.17.1
modAL-python==0.4.2.1
more-itertools==10.8.0
multidict==6.7.1
multipledispatch==1.0.0
multiprocess==0.70.19
narwhals==2.18.0
ndcube==2.4.0
networkx==3.6.1
numba==0.64.0
numcodecs==0.16.5
numpy==1.26.4
packaging==26.0
pandas
panel==1.8.10
param==2.3.2
partd==1.4.2
pillow==12.1.1
pip==26.0.1
pluggy==1.6.0
propcache==0.5.2
psutil==7.2.2
pyarrow==24.0.0
pycparser==3.0
pyct==0.6.0
pyerfa==2.0.1.5
Pygments==2.20.0
PyJWT==2.12.1
pyparsing==3.3.2
pytest==8.3.5
pytest-timeout==2.4.0
python-dateutil==2.9.0.post0
pytz==2026.1.post1
pyviz_comms==3.0.6
pyvo==1.8.1
PyYAML==6.0.3
reproject==0.14.1
requests==2.34.2
rich==15.0.0
scikit-learn
scipy
SecretStorage==3.5.0
semantic-version==2.10.0
setuptools==82.0.0
shellingham==1.5.4
six==1.17.0
skorch
soupsieve==2.8.3
sparclclient==1.3.0
spectres==2.2.2
specutils==2.3.0
tabulate==0.10.0
threadpoolctl==3.6.0
toolz==1.1.0
tornado==6.5.5
tqdm
typer==0.25.1
typing_extensions==4.15.0
tzdata==2025.3
uc-micro-py==2.0.0
urllib3==2.4.0
webencodings==0.5.1
wheel==0.46.3
xarray==2025.6.1
xxhash==3.7.0
xyzservices==2025.11.0
yarl==1.24.2
zarr==3.1.5
